img {
    border-radius: 10px;
    /* Você pode ajustar o valor conforme necessário */
    margin-bottom: 8px;
    /* Adiciona um espaço entre a imagem e a legenda */
    margin-left: 0px;
    /* Adiciona um espaço à esquerda da imagem, ajuste conforme necessário */
    width: 100%;
}